{% extends "admin/base.html" %}
{% load static %}

{% block branding %}
  <div style="display:flex; align-items:center;">
    <img src="{% static 'images/favicon.ico' %}" alt="Mon Journal" style="height:40px; margin-right:10px;">
    <h1 id="site-name">Focus Media - Administration</h1>
  </div>
{% endblock %}

{% block user-tools %}
  {% if user.is_authenticated %}
    <div id="user-tools">
        Bonjour {{ user.get_username }} |
        <a href="{% url 'admin:logout' %}">Se déconnecter</a>
    </div>
  {% endif %}
{% endblock %}
